[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-allauth = "*"
google-api-python-client = "*"
dj-rest-auth = "*"
waitress = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
selenium = "*"
pillow = "*"
daphne = "*"
coverage = "*"
model-bakery = "*"
psycopg2-binary = "*"
django-storages = "==1.13.2"
boto3 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
